* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: 'webfont';
  src: url('./font/webfont.woff') format('woff'), /* chrome、firefox */
  url('./font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.web-font {
  font-family: "webfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  position: relative;
  overflow: hidden;

  .btn {
    width: 20vw;
    height: 20vw;
    background: transparent;
    margin: 0 auto;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    outline: none;background-size: contain;
    background-repeat: no-repeat;
  }

  @keyframes arrowUp {
    from {
      opacity: 0;
      transform: translate(0, 4vw) rotate(180deg);;
    } to {
      opacity: 1;
      transform: translate(0, -4vw) rotate(180deg);;
    }
  }

  @keyframes arrowDown {
    from {
      opacity: 0;
      transform: translate(0, -4vw);
    } to {
      opacity: 1;
      transform: translate(0, 4vw);
    }
  }
  
  .up-btn {
    animation: arrowUp 3s infinite;
  }

  .down-btn {
    animation: arrowDown 3s infinite;
  }

  .prev {
    transform: translate(0, -100%);
  }

  .next {
    transform: translate(0, 100%);
  }

  .page {
    width: 100vw;
    height: 100%;
    position: absolute;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hidden {
    display: none;
  }

  @mixin list($height) {
    width: 86vw;
    max-height: $height;
    overflow-y: auto;
    box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.14),
      0px -15px 15px -15px rgba(0, 0, 0, 0.14); 

    div {
      display: flex;
      align-items: center;
    }

    .song {
      width: 92%;
      height: 8vw;
      padding: 2vw;
      margin: 0 auto;
      transition: all .2s;
      border-bottom: 1px solid #D8D8D8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:nth-child(2n) {
        transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
        background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
      }
      &:nth-child(2n+1) {
        transform: perspective(100px) rotateX(-3deg) translateY(3px);
        background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
      }

      .song-name {
        display: inline-block;
        height: 100%;
        width: 35vw;
        font-size: 6vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .song-singer {
        display: inline-block;
        height: 100%;
        font-size: 4vw;
        width: 25vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .song-btn {
        background: transparent;
        width: 8vw;
        height: 8vw;
        outline: none;

        span {
          display: inline-block;
          width: 8vw;
          height: 8vw;
          line-height: 8vw;
          text-align: center;
        }
      }
    }
  }

  #list {
    .list-wrap {
      height: 75%;
      text-align: center;

      .list-tit {
        height: 8%;
        margin: 0 auto;
      }

      .list-main {
        margin: 0 auto;
        @include list(92%);

        .playing-song {
          transform: scale(1.2);
        }
      }
    }
  }

  #vanilla {
    text-align: center;

    .search-wrap {
      font-size: 0;
      width: 100vw;
      height: 90%;
      z-index: 2;
      position: absolute;
      transform: translate(-96vw, 0);
      transition: all .3s ease-in;

      #search {
        display: inline-block;
        margin: 1.5vw auto;
        height: 14vw;
        width: 80vw;
        padding-left: 5vw;
        background: #f2f2f2;
        line-height: 14vw;
        border-radius: 5px;
        border: 2.5vw solid #F7F7F7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
        font-size: 6vw;
        color: #999;
        outline: none;
      }

      #drop {
        position: absolute;
        top: 11vw;
        transform: translate(0, -50%);
        right: 0;
        display: inline-block;
        width: 4vw;
        height: 14vw;
        background: transparent;
        outline: none;

        span {
          font-size: 4vw;
          color: #999;
        }
      }

      .search-main {
        position: absolute;
        top: 22vw;
        left: 7vw;
        @include list(76%);
        .search-failed {
          span {
            height: 100%;
          }
          font-size: 4vw;
          color: #000;
          display: flex;
          justify-content: center;
        }
      }
    }

    .drop-out {
      transform: none;
    }

    .tit {
      text-align: center;
      color: rgba(0, 103, 220, 0.7);
      text-shadow: rgba(0, 255, 0, 0.7) -5px -5px 0;
      width: 100vw;
      font-size: 30vw;
      z-index: 1;
    }
  }

  h-audio {
    width: 100vw;
    height: 70%;
  }
}
